[submodule "0.0_libft"]
	path = 0.0_libft
	url = https://github.com/aaron-22766/0.0_libft.git
[submodule "1.0_get_next_line"]
	path = 1.0_get_next_line
	url = https://github.com/aaron-22766/1.0_get_next_line.git
[submodule "1.1_ft_printf"]
	path = 1.1_ft_printf
	url = https://github.com/aaron-22766/1.1_ft_printf
[submodule "1.2_born2beroot"]
	path = 1.2_born2beroot
	url = https://github.com/aaron-22766/1.2_born2beroot.git
[submodule "2.0_so_long"]
	path = 2.0_so_long
	url = https://github.com/aaron-22766/2.0_so_long.git
[submodule "2.1_minitalk"]
	path = 2.1_minitalk
	url = https://github.com/aaron-22766/2.1_minitalk.git
[submodule "2.2_push_swap"]
	path = 2.2_push_swap
	url = https://github.com/aaron-22766/2.2_push_swap.git
[submodule "3.0_philosophers"]
	path = 3.0_philosophers
	url = https://github.com/aaron-22766/3.0_philosophers.git
[submodule "3.1_minishell"]
	path = 3.1_minishell
	url = https://github.com/aaron-22766/3.1_minishell.git
[submodule "4-5_CPP"]
	path = 4-5_CPP
	url = https://github.com/aaron-22766/42_CPP.git
[submodule "4.1_netpractice"]
	path = 4.1_netpractice
	url = https://github.com/aaron-22766/42_netpractice.git
[submodule "4.2_cub3D"]
	path = 4.2_cub3D
	url = https://github.com/aaron-22766/42_cub3D.git
[submodule "5.1_inception"]
	path = 5.1_inception
	url = https://github.com/aaron-22766/42_inception.git
[submodule "5.2_webserv"]
	path = 5.2_webserv
	url = https://github.com/aaron-22766/42_webserv.git
[submodule "4-6_Exams"]
	path = 4-6_Exams
	url = https://github.com/aaron-22766/42_Exams.git
[submodule "6.0_ft_transcendence"]
	path = 6.0_ft_transcendence
	url = https://github.com/aaron-22766/42_ft_transcendence
