[submodule "0.0_libft"]
	path = 0.0_libft
	url = https://github.com/aaron-22766/0.0_libft.git
[submodule "1.0_get_next_line"]
	path = 1.0_get_next_line
	url = https://github.com/aaron-22766/1.0_get_next_line.git
[submodule "1.1_ft_printf"]
	path = 1.1_ft_printf
	url = https://github.com/aaron-22766/1.1_ft_printf
[submodule "1.2_born2beroot"]
	path = 1.2_born2beroot
	url = https://github.com/aaron-22766/1.2_born2beroot.git
[submodule "2.0_so_long"]
	path = 2.0_so_long
	url = https://github.com/aaron-22766/2.0_so_long.git
[submodule "2.1_minitalk"]
	path = 2.1_minitalk
	url = https://github.com/aaron-22766/2.1_minitalk.git
[submodule "2.2_push_swap"]
	path = 2.2_push_swap
	url = https://github.com/aaron-22766/2.2_push_swap.git
